.question-card {
  width:80%;
  height:600px;
  background-color:#36567F;
  color:white;
  font-size: 8em;
  text-align: center;
  margin: 0 auto;
}


.answers-card {
  width:80%;
  height:600px;
  background-color:gray;
  color:#36567F;
  font-size: 3em;
  margin: 0 auto;
}