.question-card {
  width:80%;
  height:600px;
  background-color:#36567F;
  color:white;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
}


.answers-card {
  width:80%;
  height:600px;
  background-color:gray;
  color:#36567F;
  font-size: 3em;
  margin: 0 auto;
  overflow-y:scroll;
}

/*
.answers-card {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 80%;
  border: 1px solid black;
  background: background-image(linear-gradient(top, #ffffff 15%,#F94545 16%,#ffffff 16%,#ffffff 25%,#85b2d3 26%,#ffffff 26%, #ffffff 35%,#85b2d3 36%,#ffffff 36%,#ffffff 45%,#85b2d3 46%,#ffffff 46%, #ffffff 55%,#85b2d3 56%,#ffffff 56%, #ffffff 65%,#85b2d3 66%,#ffffff 66%, #ffffff 75%,#85b2d3 76%,#ffffff 76%, #ffffff 85%,#85b2d3 86%,#ffffff 86%, #ffffff 95%,#85b2d3 96%,#ffffff 96%));
  
  
  div {
    position: absolute;
    @include backface-visibility(hidden);
    width: 100%;
    margin: 0 auto;
  }
  .front {
    z-index: 100;
  }
  .back {
    z-index: 50;
    @include transform(rotateY(-180deg));
  }
  
}

.answers-card ul {
    font: 1em/.9 "Lucida Grande", Helvetica, Sans-Serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &:first-child {
      margin-top: 2em;
    }
}
*/