.question-card {
  width:80%;
  height:600px;
  /*calc(100vh - 80px) !important;*/
  background-color:white;
  color:black;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  background-image:
    linear-gradient(180deg, white 5rem, #F0A4A4 calc(5rem), #F0A4A4 calc(5rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 3rem, transparent 3px, transparent calc(3rem + 1px));
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  font-family:'Open Sans', sans-serif;
}

body {
  background-color:#DDD;
}

.question {
  padding-top: 100px;
}

.answers {
  padding: 15px;
}

.answers-card {
  width:80%;
  height:600px;
  /*calc(100vh - 80px) !important;*/
  background-color:white;
  color:#36567F;
  font-size: 2.5rem;
  margin: 0 auto;
  overflow-y:scroll;
  line-height:3rem;
  padding-top:6rem;
  background-image:
    linear-gradient(180deg, white 5rem, #F0A4A4 calc(5rem), #F0A4A4 calc(5rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 3rem, #DDD 3px, #DDD calc(3rem + 1px));
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  font-family:'Open Sans', sans-serif;
}

